<app-header titulo=Cards></app-header>

<ion-content padding>

  <h2 style="text-align: center" >Cards</h2>

  <ion-card mode="ios" color="primary">
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>

    <ion-card mode="ios">
      <ion-item color="primary">
        <ion-icon color="light" slot="start" name="pin"></ion-icon>
        <ion-label>Marcador</ion-label>
      </ion-item>

      <ion-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At veniam voluptas, praesentium sequi, facilis sint distinctio molestias corporis voluptatem aspernatur consequuntur, alias minima esse a ratione deserunt exercitationem beatae velit.
      </ion-card-content>
    </ion-card>

    <ion-card mode="ios">
      <ion-img src="assets/shapes.svg"></ion-img>

      <ion-card-content>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque asperiores doloribus animi iure nesciunt? Reiciendis eos possimus blanditiis incidunt ducimus harum, quidem neque tempora debitis ipsum autem at aperiam quaerat.
      </ion-card-content>
    </ion-card>

</ion-content>
